* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  background-color: black;
  font-family: sans-serif;
  color: #FEFEFE;

  & a {
    color: red;
    text-decoration: none;
    font-weight: bolder;
  }

  & h1 {
    font-size: 14px;
    font-weight: bolder;
  }
}

.container {
  margin: 20px;
  padding: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}